/*@-webkit-keyframes 'hx'{
	from{opacity:0.1}
	50%{opacity:1}
	to{opacity:0.1}
}*/
*{
	padding: 0;
	margin: 0;
}
@-webkit-keyframes clockwise {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@-webkit-keyframes counter-clockwise {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(-360deg);transform: rotate(-360deg);}
}
@-webkit-keyframes hx{
	0%{box-shadow:0px 0px 10px 3px #C2FDFE;border-radius:15px;}
	
	50%{box-shadow:0px 0px 50px 3px #C2FDFE;border-radius:15px;}
	
	100%{box-shadow:0px 0px 10px 3px #C2FDFE;border-radius:15px;}
}
@-webkit-keyframes hxf{
	0%{box-shadow:0px 0px 20px 30px #B6ECEC;opacity:0.7}
	
	50%{box-shadow:0px 0px 70px 30px #B6ECEC;opacity:0.7}
	
	100%{box-shadow:0px 0px 20px 30px #B6ECEC;opacity:0.7}
}
#bgdate{
	width:1360px;
	height:662px;
	position:relative;
}
#bgdate #bgimage{
	display:block;
	width:1360px;
	height:662px;
	background:url(ak.jpg) no-repeat;
	background-size:1360px,662px;
}
#bgdate #data{
	position:absolute;
	border-collapse:collapse;
	bottom:80px;
	left:50px;
	border-color:#A2FEFD;
	width:460px;
	height:230px;
    -webkit-animation-duration:6s;  
    -webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name:hx;
}
#bgdate #data thead tr:first-Child td{
	width:460px;
	height:33px;
	border-radius:15px;
	color:#70FDFC;
}
#bgdate #data thead tr:first-Child td:hover{
	background-color:transparent;
	color:#70FDFC;
}
#bgdate #data td{
	width:66px;
	height:33px;
	color:#70FDFC;
	text-align:center;
	cursor:pointer;
	font-size:23px;
	font-family:"kaiti";
	-webkit-animation-duration:6s;  
    -webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name:hx;
}
#bgdate #data td:hover{
	background-color:#5CACB7;
	color:#fff;
}
/*���ֲ���*/
.gearbox{
	width:647px;height:186px;
	position:absolute;
	top:30px;
	left:90px;
	/*border:2px solid #799493;*/
}
.gear{/*С��*/
	width:60px;height:60px;
	border-radius: 30px;
	position:absolute;
}
.gear.large{
	height:120px;width:120px;
	border-radius: 60px;
}
.gear.large:after {
  height: 96px;
  width: 96px;
  border-radius: 48px;
  margin-left: -48px;
  margin-top: -48px;
  
}
.gear.one {
  top: 12px;left: 10px;
}
.gear.two {
  top: 61px;left: 60px;
}
.gear.three {
  top: 110px;left: 10px;
}
.gear.four {
  top: 13px;left: 128px;
}
.gear.five {
  top: 59px;left: 258px;
}
.gear.five0 {
  top: 74px;
  left: 281px;
}
.gear.six {
  top: 12px;left: 330px;
}
.gear.seven {
  top: 91px;left: 446px;
}
.gear.eight {
  top: 11px;left: 506px;
}
.gear.nine {
   top: 158px;left: 62px;
}
.gear:after {
  content: "";
  position: absolute;
  height: 36px;
  width: 36px;
  border-radius: 36px;
  /*background: transparent;*/
 background:#A2FEFD;
  opacity:0.5;
  border:1px solid #A2FEFD;
  top: 50%;
  left: 50%;
  margin-left: -18px;
  margin-top: -18px;
  /*z-index: 30;*//********************************************/
}
#gear-inner {
  position: relative;
  height: 100%;
  width: 100%;
 /* background: #98C2C4;*/
  border:1px solid #A2FEFD;
  border-radius: 50%;
  z-index:20;
}
/*.gear.one #gear-inner {
  -webkit-animation: counter-clockwise 3s infinite linear;
}
.gear.two #gear-inner {
  -webkit-animation: clockwise 3s infinite linear;
}
.gear.three #gear-inner {
  -webkit-animation: counter-clockwise 3s infinite linear;
}
.gear.five #gear-inner {
  -webkit-animation: clockwise 3s infinite linear;
}
.gear.seven #gear-inner {
  -webkit-animation: clockwise 3s infinite linear;
}
.gear.nine #gear-inner {
   -webkit-animation: clockwise 3s infinite linear;
}
.gear.six #gear-inner {
  -webkit-animation: counter-clockwise 6s infinite linear;
}
.gear.eight #gear-inner {
  -webkit-animation: counter-clockwise 6s infinite linear;
}
.gear.four #gear-inner {
  -webkit-animation: counter-clockwise 6s infinite linear;
}*/

#gear-inner .bar {
  /*background: #98C2C4;*/
  border:1px solid #A2FEFD;
  height: 16px;
  width: 76px;
  position: absolute;
  left: 48.5%;
  margin-left: -38px;
  top: 48%;
  margin-top: -8px;
  border-radius: 2px;
}
.large #gear-inner .bar {
  margin-left: -68px;
  width: 136px;
}
#gear-inner .bar:nth-child(2) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
#gear-inner .bar:nth-child(3) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
#gear-inner .bar:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
#gear-inner .bar:nth-child(5) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
#gear-inner .bar:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}

#btn1,#btn2,#btn3,#btn4{
	width:38px;height:38px;
	line-height:30px;
	border-radius:50%;
	margin:12px auto;
	display:block;
	border-color:transparent;
	background:#A2FEFD;
	opacity:0.5;
	outline:none;
	position:relative;
	z-index:1000;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	top:-62px;left:1px;
}

.gear button:hover{
	opacity:0.8;
	cursor:pointer;
}
.gear span{
	width:96px;height:96px;
	line-height:96px;
	border-radius:50%;
	display:block;
	margin:13px auto;
	text-align:center;
	font-size:80px;
	position:relative;
	z-index:1000;
	font-weight:bold;
	color:#F8FBFD;
}
#span01,#span02,#span03{
	top:-121.5px;left:1px;
}

/************����js************************/
.current{
	-webkit-animation: hxf 1s infinite linear;
}
.eastem{
	-webkit-animation: counter-clockwise 6s infinite linear;
}
#one .eastem{
	-webkit-animation: counter-clockwise 3s infinite linear;
}
#three .eastem{
	-webkit-animation: counter-clockwise 3s infinite linear;
}
.wise{
	-webkit-animation: clockwise 3s infinite linear;
}
.label{
	background:#fff;
	opacity:0.7;
}